/*all web*/
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/*parte del menu*/
nav{
    background-color: #016274;
    display: flex;
    align-items: center;
    justify-content:left;
    font-weight: bold;
    height: 65px;
}
ul li{
    display: inline-block;
    padding: 0px 200px;

}
a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: aqua;
}


img{
    width: 140px;
    margin-left: 30px;
}
/*primer contenido informativo de la pagina web*/
.contenido-inicial p{
    margin-top: 15px;
    margin-left: 160px;
    font-size: 25px;
    width: 750px;
    text-align: justify;
}
.contenido-inicial h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
    width: 960px;
}

.img-inicio-1{
    width: 700px;
    margin-left: 58%;
    margin-top: -20%;
    border-radius: 5%;
}
.img-inicio-2{
    width: 700px;
    border-radius: 5%;
    margin-left: 9%;
    margin-top: 20px;
}
.contenido-inicial-2 {

    margin-top: 15px;
    margin-right: 100px;
    font-size: 25px;
    width: 750px;
    text-align: justify;
    float: right;
}
.contenido-inicial-2 h3 {
    font-size: 40px;
    text-align: center;
    margin: 15px;
}
/*segundo contenido informativo de la pagina web*/
.segundo-titulo{
    margin-top: 100px;
    background-color: #016274;
    font-size: 50px;
    height: 65px;
    color: white;
}
.segundo-titulo h1{
    text-align: center;
    margin-top: -70px;
}
.contenido-historia p{
    margin-top: 15px;
    margin-left: 160px;
    font-size: 25px;
    width: 750px;
    text-align: justify;
}
.contenido-historia h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
    width: 960px;
}

.img-historia-1{
    width: 700px;
    margin-left: 58%;
    margin-top: -20%;
    border-radius: 5%;
}

.img-historia-2{
    width: 600px;
    border-radius: 5%;
    margin-left: 9%;
    margin-top: 20px;
}
.contenido-historia-2 {

    margin-top: 80px;
    margin-right: 100px;
    font-size: 25px;
    width: 750px;
    text-align: justify;
    float: right;
}
.contenido-historia-2 h3 {
    font-size: 40px;
    text-align: center;
    margin: 15px;
}

.contenido-historia-3{
    width: 1800px;
    font-size: 29px;
    text-align: center;
    margin-left: 60px;
}
.contenido-historia-3 h3{
    margin: 25px;
    text-align: center;
    font-size: 36px;
}

.img-historia-3{
    width: 1500px;
    border-radius: 5%;
    margin-top: 50px;
}
/* footer (pie  de la pagina) web*/
.pie-pagina{
    margin-top: 60px;
    width: 100%;
    background-color: #016274;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:100px;
    padding: 40px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.red-social img{
    width: 250px;
}
.pie-pagina .grupo-2{
    background-color: #01191d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}